<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doanquanlykhachsan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnQuanLyKhachSan">
        <activity
            android:name=".AD_SuaDichVu"
            android:exported="false" />
        <activity
            android:name=".AD_ThongTinDichVu"
            android:exported="false" />
        <activity
            android:name=".AD_ThemDichVu"
            android:exported="false" />
        <activity
            android:name=".AD_HienThiDanhSachDichVu"
            android:exported="false" />
        <activity
            android:name=".AD_ThongTinKhachHang"
            android:exported="false" />
        <activity
            android:name=".AD_HienThiDanhSachKhachHang"
            android:exported="false" />
        <activity
            android:name=".AD_SuaNhanVien"
            android:exported="false" />
        <activity
            android:name=".AD_ThongTinNhanVien"
            android:exported="false" />
        <activity
            android:name=".AD_HienThiDanhSachNhanVien"
            android:exported="false" />
        <activity
            android:name=".AD_XemKhuyenMai"
            android:exported="false" />
        <activity
            android:name=".AD_ThongKe"
            android:exported="false" />
        <activity
            android:name=".AD_SuaKhuyenMai"
            android:exported="false" />
        <activity
            android:name=".AD_TaoKhuyenMai"
            android:exported="false" />
        <activity
            android:name=".Menu_Admin"
            android:exported="false" />
        <activity
            android:name=".menu_khachhang"
            android:exported="false" />
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".sign_in"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>