<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doanquanlykhachsan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnQuanLyKhachSan">
        <activity
            android:name=".admin.AD_HienThiDanhSachKhuyenMai"
            android:exported="false" />
        <activity
            android:name=".admin.AD_LuongCuaNhanVien"
            android:exported="false" />
        <activity
            android:name=".admin.AD_LuongNhanVien"
            android:exported="false" />
        <activity
            android:name=".admin.AD_LichLamViecCuaNhanVien"
            android:exported="false" />
        <activity
            android:name=".admin.AD_LichLamViec"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThongTinPhong"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThemPhong"
            android:exported="false" />
        <activity
            android:name=".admin.AD_SuaPhong"
            android:exported="false" />
        <activity
            android:name=".admin.AD_HienThiDanhSachPhong"
            android:exported="false" />
        <activity
            android:name=".admin.AD_SuaDichVu"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThongTinDichVu"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThemDichVu"
            android:exported="false" />
        <activity
            android:name=".admin.AD_HienThiDanhSachDichVu"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThongTinKhachHang"
            android:exported="false" />
        <activity
            android:name=".admin.AD_HienThiDanhSachKhachHang"
            android:exported="false" />
        <activity
            android:name=".admin.AD_SuaNhanVien"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThongTinNhanVien"
            android:exported="false" />
        <activity
            android:name=".admin.AD_HienThiDanhSachNhanVien"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThongTinKhuyenMai"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThongKe"
            android:exported="false" />
        <activity
            android:name=".admin.AD_SuaKhuyenMai"
            android:exported="false" />
        <activity
            android:name=".admin.AD_ThemKhuyenMai"
            android:exported="false" />
        <activity
            android:name=".admin.AD_MenuAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>